extends base

block content
  main.main
    .reset-form
      .message-box
        h2.heading-secondary.ma-bt-lg Check Your Email
        p.notify-text We have sent a password reset link to <strong>your email</strong>.
        p.notify-text Please check your inbox and follow the instructions.
        a.btn.btn--green(href='https://mail.google.com/' target='_blank') Go to Gmail
